.btn-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
.chart {
  height: 500px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*.x.axis path {
  display: none;
}*/

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#source-line {
    font-style: italic;
}

